* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;


}

.section {
  background-color: #EADDDD;
  width: 100%;
}

.navbar > .navbar-nav{
  display: flex;
  justify-content: space-between;
}
.navbar > .navbar-nav > .logo{
  display: flex;
  align-items: center;
}
.navbar > .navbar-nav > .nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar > .navbar-nav > .nav-items > ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 20px;
  margin-right: 100px;
}
.navbar > .navbar-nav > .nav-items > ul > li > a{
  text-decoration: none;
  padding: 0 80px;
  color: black;
  border-right: 2px solid black;
}
.navbar > .navbar-nav > .nav-items > ul > li > a:hover{
  color: green;
}
.navbar > .navbar-nav > .nav-items > ul > li > button {
  margin-left: 10px;
  background-color: #4ECB71;
  padding: 15px 40px;
  border: none;
  font-size: 13px;
  border-radius: 5px;
  margin-top: -20px;
}
.navbar > .navbar-nav > .nav-items > ul > li > button:hover{
  background-color: white;
  color: green;
  border: 1px solid green;
}
.navbar > .navbar-nav > .nav-items > ul > li > button > a{
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.navbar > .navbar-nav > .nav-items > ul > li > button > a:hover{
  color: green;
}

.row {
  display: flex;
  justify-content: center;
}

.row p {
text-align:justify;
}

.courses img {
  width: 300px;
  height: 250px;
  border-radius: 20px 20px 0 0;
}

.heading h1, .heading p {
  text-align: center;
  padding: 10px;
  color: #010c05;
  font-size: large;
  font-weight: bold;
  
}
.heading h1 {
  font-size: xx-large;
  margin-top: 20px;
  font-weight:900;
}
.courses h4, #rating {
  font-size: larger;
  text-decoration: none;
  margin: 5px 5px 15px 5px;
}

.checked {
  color: orange;
}

#arrow a {
  font-size: 15px;
  background-color: #4ECB71;
  color: black;
  padding: 8px;
  border-radius: 10px;
  font-weight: bolder;
  text-decoration: none;
}
#arrow a:hover{
  background-color: white;
  border: 1px solid green;
  color: green;
}

#arrow span {
  color: rgb(205, 248, 12);
}

.appDev, .data-science, .Database, .cloud {
  background-color: white;
  margin: 50px 70px;
  text-align: center;
  width: 300px;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
}

h4 {
  font-size: 30px;
  color: #000000;
  font-weight: bolder;
}

a:hover {
  color: rgb(172, 59, 187);
}

.text {
  min-height: 110px;
}

.duration, .cost {
  background-color: #EADDDD;
  margin: 10px 0 10px;
  padding: 10px;
  border-radius: 10px;
}
.cost {
  margin-bottom: 20px;
}
span {
  font-weight: bolder;
  font-size: larger;
}


/* Pop-up enrol form */
input:focus, textarea:focus {
  background-color: #EADDDD;
  outline: none;
}

.form .success #name1 {
  border: 1px solid #4ECB71;

}
.form .success i {
  visibility: visible;
  color: #4ECB71;
}

.form .error #email {
  border: 1px solid red;

}
.form .error i {
  visibility: visible;
  color: red;
}

.tutor1 {
  background-color: #4ECB71;
  color: white;
  font-weight: 900;
  font-size: large;
  padding: 15px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
}

#arrow button {
  background-color: #EADDDD;
  color: black;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

#arrow button:hover {
background-color: #411313;
color: white;
cursor: pointer;
}

.enrol {
  display: none;
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  width: 350px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 20px;
  border: 2px solid #4ECB71;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.enroll {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  vertical-align: middle;
  width:100px;
  height: 100px;
  border-radius: 50%;
}

.enrol > .enroll >.img {
  display: flex;
  align-items: baseline;
}

.form {
  margin: 10px;
}

.form i {
  position: absolute;
  right: 30px;
  visibility: hidden;
}

.line1 i {
  position: absolute;
  top: 165px;
}
.line2 i {
  position: absolute;
  top: 238px;
}
.line3 i {
  position: absolute;
  top: 311px;
}
.line4 i {
  position: absolute;
  top: 385px;
}
.line5 i {
  position: absolute;
  top: 455px;
}

#arrow {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#name1, #email, #contact, #rate, #biography {
  padding: 10px;
  border: 1px solid #EADDDD;
  margin-bottom: 10px;
  width: 300px;
  font-family: inherit;
}

textarea {
  font-size: 15px;
}

label {
  font-weight: 550;
  font-size: large;
}


.enrol button {
  background-color: #4ECB71;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 800;

}

.enrol button:hover {
  background-color: white;
  border: 1px solid #4ECB71;
}

#arrow a {
  font-size: 15px;
  background-color: #4ECB71;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
}
#arrow a:hover{
  background-color: white;
  border: 1px solid #4ECB71;
  color: #4ECB71;
  font-weight: bolder;
}

.footer{
  background-color: black;
  padding: 30px 100px;
}
.footer > .footer-header > .header-info > h1{
  font-size: 35px;
  color: white;
}
.footer > .footer-header > .header-info > p{
  font-size: 20px;
  color: white;
}
.footer > .footer-header > .footer-contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}
.footer > .footer-header > .footer-contents > .content > ul{
  list-style-type: none;
}
.footer > .footer-header > .footer-contents > .content > ul > li > a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.footer > .footer-header > .footer-contents > .content > ul > li > a:hover{
  text-decoration: underline;
  color: #4ECB71;
}
.footer > .footer-header > .footer-contents > .social-icons > a{
  color: white;
}