* {
  margin: 0;
  padding: 0;
  font-family: "nunito";
}

section {
  background-color: #EADDDD;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
#sign {
  background-color: #7ADD9E;
  padding: 10px 15px;
  border-radius: 10px;
}

.logo, h3{
  display: flex;
  margin-left: 20px;
  font-size: 40px;
}
.menu ul > li {
  display: inline-block;
  margin-right: 30px;
  margin-left: 50px;
}
.row {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 50px;
  height: 55px;
  color: #7ADD9E;
}

.courses img {
  width: 300px;
  height: 250px;
  border-radius: 20px 20px 0 0;
}

.heading h1, .heading p {
  text-align: center;
  padding: 10px;
  color: #0e8d3f;
  font-size: large;
  font-weight: bold;
  
}
.heading h1 {
  font-size: xx-large;
  margin-top: 20px;
  text-shadow: 3px 3px 3px rgb(22, 12, 12);
  color: ;
}
.courses h4, #rating {
  font-size: larger;
  text-decoration: none;
  margin: 5px 5px 15px 5px;
}
.fa {
  text-decoration: overline underline;
}
.checked {
  color: orange;
}
.appDev, .data-science, .Database, .cloud {
  background-color: white;
  margin: 50px 70px;
  text-align: center;
  width: 300px;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: rgb(13, 13, 139);
}
a:hover {
  color: rgb(172, 59, 187);
}

.text {
  min-height: 110px;
}

.duration, .cost {
  background-color: #EADDDD;
  margin: 10px 0 10px;
  padding: 10px;
  border-radius: 10px;
}
span {
  font-weight: bolder;
  font-size: larger;
}


footer {
  background-color: black;
  color: white;
  padding: 30px;
}

footer ul {
  display: flex;
  list-style: none;
  margin: 10px;
}
footer li {
  padding: 20px;
}
.links ul{
  display: flex;
  flex-direction: column;
}