* {
  margin: 0;
  padding: 0;
}

section {
  background-color: #EADDDD;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.logo, h3{
  display: flex;
  margin-left: 20px;
  font-size: 40px;
}

.menu ul > li {
  display: inline-block;
  margin-right: 30px;
  margin-left: 50px;
}
.row {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 45px;
  height: 45px;
}

.courses img {
  width: 300px;
  height: 250px;
  border-radius: 20px 20px 0 0;
}

.appDev, .data-science, .Database, .cloud {
  background-color: white;
  margin: 20px;
  text-align: center;
  width: 300px;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
}

footer {
  background-color: black;
  color: white;
}