*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #EADDDD;
    font-family: 'Nunito', sans-serif;
}
.main-container{

    justify-content: center;
}
.nav-container{
    width: 1150px;
    height: 150px;
 }
 .navbar > .navbar-nav{
    display: flex;
    justify-content: space-between;
}
.navbar > .navbar-nav > .logo{
    display: flex;
    align-items: center;
}
   
.navbar > .navbar-nav > .nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.navbar > .navbar-nav > .nav-items > ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 20px;
    margin-right: 10px;
}
.navbar > .navbar-nav > .nav-items > ul > li > a{
    text-decoration: none;
    padding: 0 80px;
    color: black;
    border-right: 2px solid black;
}
.navbar > .navbar-nav > .nav-items > ul > li > a:hover{
    color: green;
}
.navbar > .navbar-nav > .nav-items > ul > li > button {
    margin-left: 10px;
    background-color: #4ECB71;
    padding: 15px 40px;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    margin-top: -20px;
}
.navbar > .navbar-nav > .nav-items > ul > li > button:hover{
    background-color: white;
    color: green;
}
.navbar > .navbar-nav > .nav-items > ul > li > button > a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.navbar > .navbar-nav > .nav-items > ul > li > button > a:hover{
    color: green;
}
/* context container */
.profile-container{
    width: 80%;
    height: 1100px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.profile-text p{
    background-color: #4ECB71;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    text-align: center;

}
.profile-text{
    margin: auto;
   
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.image-logo{
    margin-top: 50px;
    margin-left: 60px;

}
.profile-text h2{
    font-weight: 200;
    min-width: 50%;
}
.profile-text p{
    text-align: center;
    padding: 15px;
}
.text1{
    margin: 30px;
    margin-left: -60px;
}
.text2{
    margin-left: -400px;
    display: inline-block;
    flex-direction: column;
    justify-content: left;
    align-items: left;

    
}

.box1, .box2, .box3, .box4 {
    display: flex;
    margin: 50px;
    
}

.bio{
    width: 400px;
    height: 200px;
    background-color: #4ECB71;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 30px;
    padding-right: 10px;
}
.bio a{
    font-size: 20px;
    text-decoration: none;
    color: blue;
    float: right;
    border-radius: 9px;
    margin-top: 30px;
    
    
}
.bio a:hover{
    color: white;
}
.bio h5{
    font-weight: 400;
    font-size: 1.1em;
    padding-left: 5px;
    
}
/* footer */
.footer{
    margin-top: 80px;
    background-color: black;
    padding: 30px 100px;
}
.footer > .footer-header > .header-info > h1{
    font-size: 35px;
    color: white;
}
.footer > .footer-header > .header-info > p{
    font-size: 20px;
    color: white;
}
.footer > .footer-header > .footer-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}
.footer > .footer-header > .footer-contents > .content > ul{
    list-style-type: none;
}
.footer > .footer-header > .footer-contents > .content > ul > li > a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.footer > .footer-header > .footer-contents > .content > ul > li > a:hover{
    text-decoration: underline;
    color: #4ECB71;
}
.footer > .footer-header > .footer-contents > .social-icons > a{
    color: white;
}


