*{
    font-family: 'Nunito', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-image: url(../images/homepage-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    margin: 30px 120px 30px 50px;
}

.navbar > .navbar-nav{
    display: flex;
    justify-content: space-between;
}

.navbar > .navbar-nav > .logo{
    display: flex;
    align-items: center;
    
}

.navbar > .navbar-nav > .nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.navbar > .navbar-nav > .nav-items > ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 20px;
    margin-right: 100px;
    
}

.navbar > .navbar-nav > .nav-items > ul > li > a{
    text-decoration: none;
    padding: 0 80px;
    color: black;
    border-right: 2px solid black;
}

.navbar > .navbar-nav > .nav-items > ul > li > a:hover{
    color: green;
}

.navbar > .navbar-nav > .nav-items > ul > li > button {
    margin-left: 10px;
    background-color: #4ECB71;
    padding: 15px 40px;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    margin-top: -20px;

}

.navbar > .navbar-nav > .nav-items > ul > li > button:hover{
    background-color: white;
    color: green;
    border: 2px solid green;
}

.navbar > .navbar-nav > .nav-items > ul > li > button > a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.navbar > .navbar-nav > .nav-items > ul > li > button > a:hover{
    color: green;
}

/* section-1 styling */
.section-1 > .section-header{
    padding: 30px 50px 30px 0;
    display: flex;
    height: 60vh;
    justify-content: space-between;
}

.section-1 > .section-header > .get-started{
    text-align: center;
    padding: 100px 50px 0 120px;
    line-height: 40px;
}

.section-1 > .section-header > .get-started > h1{
    font-size: 50px;
}

.section-1 > .section-header > .get-started > p{
    font-size: 30px;
    font-weight: lighter;
}

.section-1 > .section-header > .get-started > a > button{
    background-color: #4ECB71;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 30px 50px;
    font-size: 20px;
}

.section-1 > .section-header > .get-started > a > button:hover{
    background-color: white;
    color: green;
    border: 2px solid #4ECB71;
    cursor: pointer;
}


.section-1 > .section-header > .homepage-image > img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

/* Summary section styling */
.section-1 > .summary{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px 0;
}

.section-1 > .summary > .students{
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
}

.section-1 > .summary > .students > button{
    background-color: black;
    color: white;
    font-size: 30px;
    border: none;
    padding: 20px 55px;
    border-radius: 10px;
}

.footer{
    background-color: black;
    padding: 30px 100px;
}

.footer > .footer-header > .header-info > h1{
    font-size: 35px;
    color: white;
}

.footer > .footer-header > .header-info > p{
    font-size: 20px;
    color: white;
}

.footer > .footer-header > .footer-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}

.footer > .footer-header > .footer-contents > .content > ul{
    list-style-type: none;
}

.footer > .footer-header > .footer-contents > .content > ul > li > a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.footer > .footer-header > .footer-contents > .content > ul > li > a:hover{
    text-decoration: underline;
    color: #4ECB71;
    
}

.footer > .footer-header > .footer-contents > .social-icons > a{
    color: white;
}